{% extends 'website/base.html' %}
{% block content %}
<div class="container mp-cnt">
    <form action="." method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mod-recipe-main">
                <div class="col-sm-12">
                    <h3 class="mp-heading">Recipe Details</h3>
                </div>

                {% csrf_token %}
                <div id="recipe-container">
                    <div class="col-sm-6">
                        <label for="name">Title</label>
                        <input type="text" id="name" name="name" value="{{ recipe.name }}"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" value="{{ recipe.description }}"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="portion_number">Portion:</label>
                        <select id="portion_number" name="portion_number">
                            {% for i in range %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                        <select id="category" name="category">
                            <option value="1">Main Dish</option>
                            <option value="2">Salad</option>
                            <option value="3">Soup</option>
                            <option value="4">Desert</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Image:</label>
                        <input type='file' name="image" id="recipe-image"/>
                        <!--{% if recipe.image %}
                        <img src="/{{ recipe.image }}" width="50px"/>
                        {%endif%}-->
                    </div>
                </div>
            </div>
            <div id="input-container" class="mod-recipe-add-ing clearfix">

                <div class="col-sm-12">
                    <h3 class="mp-heading">Add New ingredient</h3>
                </div>

                <div class="col-xs-3">
                    <label for="ingredient_quantity">Quantity:</label>
                    <input type="text" id="ingredient_quantity"/>
                </div>
                <div class="col-xs-3">
                    <label for="ingredient_unit">Unit:</label>
                    <select id="ingredient_unit">
                        <option value=None>-</option>
                        <option value="kg">kg</option>
                        <option value="g">g</option>
                        <option value="ml">ml</option>
                        <option value="tbsp">tbsp</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <label for="ingredient_name">Name:</label>
                    <input type="text" id="ingredient_name"/>
                </div>
                <div class="col-xs-3 text-right">
                    <button class="mp-btn mp-btn-sm" type="button" onclick="createRecipeIngredient({{ recipe.pk }})">Add</button>
                </div>
            </div>

            <div id="container" class="mod-recipe-ing-item-cnt clearfix">
                {% for ingredient in recipe.recipeingredient_set.all %}

                {% if forloop.first %}  
                    <div class="col-sm-12">
                        <h3 class="mp-heading">Ingredients</h3>
                    </div>
                {% endif %}
                <div id="innerContainer " class="mod-recipe-ing-item clearfix">
                    <div class="col-xs-9 col-sm-5">
                        <input type="text" readOnly="true" value="{{ingredient.ingredient.name}}" name="ingredient_name"/>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-sm-push-5 text-right">
                        <button class="mp-btn mp-btn-sm mp-btn-red" type="button" onclick="deleteRecipeIngredient({{ ingredient.pk }})">Remove</button>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-sm-pull-2">
                        <input type="text" readOnly="true" value="{{ingredient.quantity}}" name="ingredient_quantity"/>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-sm-pull-2">
                        <input type="tex"tpla yreadOnly="true" value="{{ingredient.ingredient.unit}}" name="ingredient_unit"/>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="col-sm-12 text-right">
                    <input class="mp-btn mp-btn-lg" type="submit" value="Save"/>
            </div>
        </div>
    </form>
</div>
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'add-recipe.js' %}"></script>

<script>
    set_portion_number({{recipe.portion_number}})
</script>
{% endblock %}