{% extends 'website/base.html' %}
{% block content %}
<div class="container mp-cnt">
    <div class="row">
        <div class="mod-recipe-main">
            <div class="col-sm-12">
                <h2 class="mp-heading">{{ recipe.name }}</h2>
            </div>
            <div id="recipe-container">
                <div class="col-sm-4">
                    {% if recipe.image %}
                    <img src="/{{ recipe.image }}" width="300px" height="250px"/>
                    {% else %}
                    <img src="http://dummyimage.com/3000x250/eee/000000&text=RecipeImage" width="150px"/>
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <p><strong>Category:</strong> {{ recipe.get_category_display }}</p>
                    <p><strong>Description:</strong> {{ recipe.description }}</p>
                    <p><strong>Makes:</strong> {{recipe.portion_number}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="container">
            <div class="col-sm-12">
                <hr>
                <h4 class="mp-heading">Ingredients:</h4>
                <hr>
            </div>
            <div class="col-sm-12">
                {% for ingredient in recipe.recipeingredient_set.all %}
                    <p class="ing-quantity">{{ingredient.quantity}} {{ingredient.ingredient.unit}} {{ingredient.ingredient.name}}</p>
                {% endfor %}
            </div>
            <div class="col-sm-12">
                <br>
                <h4>Directions:</h4>
                <hr>

            </div>
        </div>
    </div>
</div>
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'view-recipe.js' %}"></script>
{% endblock %}