footer{
	text-align: center;
	padding: 11px 0;
	background-color: $white;
	font-size: 0.85em;

	.colored{
		color: $green;
	}
}

footer.footer-inverse{
	background-color: $mine-shaft;
	color: $green;

	.colored{
		color: $white;
	}
}