.navbar-wrapper{
}

.navbar-default{
	text-transform: uppercase;
	border: none;
	border-bottom: 1px solid $alto;
	margin-bottom: 0;
 	letter-spacing: 1px;

	.navbar-nav{
		&>li>a{
			padding: 10px 15px;
			margin: 15px 2px;
			font-weight: 500;
			font-size: 1.1em;
			border: 2px solid transparent;
			border-radius: 3px;

			@include mixinTransition(background-color color);

			&:focus,
			&:hover{
				color: $green;
				// color: $white;
				// background-color: $green;
			}
		}

		.active>a{
			&,
			&:focus,
			&:hover{
				color: $white;
				background-color: $green;
			}
		}
	}

	.navbar-brand{
		padding: 0;
		width: 100px;
	}
}

.logo-text{
	font-weight: bold;
    font-size: 2.2em;
    display: inline-block;
    color: $green;
	text-transform: capitalize;
	height: 70px;

    .meal{
    	font-family: $bpdiet;
    	color: $orange;
    	letter-spacing: -1px;
    	font-weight: bold;

	    text-transform: uppercase;
	    font-size: 0.8em;
    }

    .planner{
    	font-family: $maidenorange;
    	color: $purple-dark;
    	font-weight: lighter;
    	letter-spacing: -2px;
    	margin-top: -16px;
    	font-size: 1.35em;
    }
}

#nav-btn-bordered{
	border: 2px solid $green;
	border-radius: 5px;
	color: $green;

	&:hover{
		color: $white;
		background-color: $green;
	}
}