.navbar-wrapper{
	background-color: rgba($white, 0.9)
}

.navbar-default{
	text-transform: uppercase;
	border: none;
	background-color: transparent;
	margin-bottom: 0;
 	letter-spacing: 1px;

	.navbar-nav{
		&>li>a{
			padding: 5px 10px;
			margin: 20px 2px;
			font-weight: 500;
			font-size: 1.1em;
			border: none;
			border-radius: 3px;

			transition-property: background-color color;
			transition-duration: 0.4s;
			transition-timing-function: ease-in-out;

			&:focus,
			&:hover{
				color: $white;
				background-color: $green;
			}
		}

		.active>a{
			&,
			&:focus,
			&:hover{
				color: $white;
				background-color: $green;
			}
		}
	}

	.navbar-brand{
		padding: 0;
		width: 100px;
	}
}
